.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-conatiner {
  width: 45vw;
}

.left-img {
  width: 45vw;
  height: 100vh;
}

.left-text {
  position: absolute;
  left: 50px;
  bottom: 60px;
  color: white;
  font-weight: 800;
  font-size: 55px;
  
}

.right-conatiner {
  background-color: black;
  width: 55vw;
  height: 100vh;
}

.form-container {
  border: 1px solid black;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-left: 10vw;

}

.superapp-text {
  color: #72DB73;
  font-family: 'Single Day', cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 0%;
}

.text-two {
  color: white;
  font-family: 'Dm Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.form-fields {
  /* background-color: white; */
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input-field {
  padding: 8px 20px;
  width: 40%
}

.input-error {
  border: 2px solid red;
}

.input-success {
  border: 2px solid black;
}

.error-text {
  color: red;
  font-size: 0.8rem;
  margin-top: 2px;
  margin-left: 2px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  border: 1px solid black;
  cursor: pointer;
}
.checkbox-label {
  color: white;
}

.signup-btn {
  margin-top: 10px;
  padding: 10px 110px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #72DB73;
  font-family: "Roboto";
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

.label1, .label2 {
  color: white;
  margin-left: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
}

.a-link {
  color: #72DB73;
  cursor: pointer;
}